* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

* {
    font-family: 'Roboto', sans-serif;
}

.main {
    padding: 1em;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}